
<div style="text-align:center;width: 400px; margin-left: 280px;">
<h1>Litecoin Blockchain</h1> <span style="color:red;"><sup style="font-size:10px;">Beta</sup></span><br>
</div>




<br style="clear:both;">

<div class="search">
<form method="post" action="/searchblock">
	<div>Search Block:</div>
	<br style="clear:both;">
	<div><input type="text" id="search" name="search"></div>
	<div><input type="submit" id="search-submit" value="Search"></div>
</form>
	<div class="search-info">You can search for block id, block hash, transaction hash, address.</div>
</div>

<div class="search">
    <form method="post" action="/searchtx">
        <div>Search Transaction:</div>
        <br style="clear:both;">
        <div><input type="text" id="search" name="search"></div>
        <div><input type="submit" id="search-submit" value="Search"></div>
    </form>
    <div class="search-info">You can search for block id, block hash, transaction hash, address.</div>
</div>

<div class="search">
    <form method="post" action="/searchaddress">
        <div>Search Address:</div>
        <br style="clear:both;">
        <div><input type="text" id="search" name="search"></div>
        <div><input type="submit" id="search-submit" value="Search"></div>
    </form>
    <div class="search-info">You can search for block id, block hash, transaction hash, address.</div>
</div>